# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Entorno
.env
.env.local
.env.production

# Base de datos local
*.db

# Certificado SSL RDS (descargar con: curl -O https://truststore.pki.rds.amazonaws.com/global/global-bundle.pem)
global-bundle.pem

# IDE
.vscode/
.idea/

# pytest
.pytest_cache/
htmlcov/
.coverage

# Alembic
alembic/versions/__pycache__/
