# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Entorno
.env
.env.local
.env.production

# Base de datos de pruebas
test.db

# IDE
.vscode/
.idea/

# pytest
.pytest_cache/
htmlcov/
.coverage

# Alembic
alembic/versions/__pycache__/
